<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TO do LIST</title>
</head>
<body>
    <h1>Hoje é <%= tipoDeDia %>!</h1>

    <ul>
        <% for(var i = 0; i < newItem.length; i++){ %>
            <li> <%= newItem[i] %></li>
        <% } %>    
    </ul>

    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit">send</button>
    </form>
   
</body>
</html>